body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:  bisque;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
}

#p5-canvas-container {
    box-shadow: 0 10px 25px rgb(0, 70, 125);
    border-radius: 12px;
    overflow: hidden;
    max-width: 90vw;
    max-height: 90vh;
    border: 4px solid grey;
}
